 <!-- BURAYA SIDEBAR GELECEK -->
 <div id="ucuncu-kisim">
    <div class=" mb-2 searchButton">
         <div class="input-group mb-3">
              <input type="text" id="txtSearchRecipe" class="form-control" placeholder="Yemek tarifi ara" aria-describedby="button-addon2">
              <button class="btn" type="button" id="btnSearchRecipe"><i class="fas fa-search"></i></button>
         </div>
    </div>

    <div class="card mt-5">
         <div class="card-body">
              <div class="row">
                   <div class="col-6">
                        <h5><p class=" author-renk author-line"><b>Author</b></p></h5>
                        <h5 class="author-line text-muted"><p><b>Sandra</b></p></h5>
                        <h5 class="author-line text-muted"><p><b>Fortin</b></p></h5>
                   </div>
                   <div class="col-6">
                        <div><img src="/img/author-photo.png" class="img-fluid" alt="..."></div>
                   </div>
              </div>
              <div class="row">
                   <div class="col-12">
                        <h5 class="card-title"><a href="#" class="">sandra@chow.com</a></h5>
                        <p class="card-text">I'm Sandra and this is where I share my stuff, I am madly in love with food. You wil find a balanceof healthy recipes, comfort food and indulgent desserts.</p>
                   </div>
              </div>
         </div>
    </div>

    <div class="populer-recipes mt-5">
         <h4><p class="text-muted"><b>Popular Tarifler</b></p></h4>
         <% for(var i=0; i<popular.length; i++){ %>
         <div class="foto-ustu">
          <a href="/tarifler/<%= popular[i].recipe_id %>"><img src="/img/recipe/<%=popular[i].image %>" alt=""></a>

              <div class="yazi">
                   <div>
                    <a href="/tarifler/<%= popular[i].recipe_id %>"><b><%=popular[i].title %></b></a>  <br>
                    <%-include("../partial-views/stars",{rating:popular[i].rating })%>
                  
                   </div>
              </div>

         </div>
      <%}%>

    </div>


    <div class="share mt-5">
         <h4><p class="text-muted"><b>Share</b></p></h4>

         <div class="row">
              <div class="col-sm-6 mt-2">
                   <div class="sosyal-medya-icon icon1">
                        <a href="facebook.com">
                        <span>
                             <i class="fab fa-facebook-f"></i>
                             <div>1.234</div>
                             <div>Fans</div>
                        </span>
                        </a>
                   </div>
              </div>

              <div class="col-sm-6 mt-2">
                   <div class="sosyal-medya-icon icon2">
                        <a href="facebook.com">
                        <span>
                             <i class="fab fa-twitter"></i>
                             <div>1.234</div>
                             <div>Fans</div>
                        </span>
                        </a>
                   </div>
              </div>

              <div class="col-sm-6 mt-2">
                   <div class="sosyal-medya-icon icon3">
                        <a href="facebook.com">
                        <span>
                             <i class="fab fa-google"></i>
                             <div>1.234</div>
                             <div>Fans</div>
                        </span>
                        </a>
                   </div>
              </div>
         </div>
    </div>


</div>
