<%-include("layouts/header") %>


<!-- 2 -->
<section id="ikinci-kisim" class="slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <%for(var i =0 ; i<slider.length; i++){
        %>
      <div class="carousel-item <%=(i==0 ? "active" : "" )%>">
        <img src="/media/banner/<%=slider[i].image %>" class="d-block w-100" alt="...">
      </div>
      <% } %>


    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>

  </div>

  <div class="carousel-indicators row">
    <%for(var i =0 ; i<slider.length; i++){%>
    <div class="col-md-3"><a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=i%>"
        class="col-md-3 <%=(i==0 ? "active" : "" )%>"><%=slider[i].title %> </a></div>
        <% } %>
  </div>

  ​
</section>
<!-- 2 -->



<section class="content container">
  <div class="row">
    <div class="col-md-9  dortuncu-bolum">
      <div class="row">
          <% recipes.forEach( (recipe) => { %>
          <div class="col-md-4 col-sm-6 col-12 recipes">
               <%-include("partial-views/recipe", {recipe: recipe})%>
          </div>
          <% }); %>

      </div>




    </div>


    <!-- 3 -->

    <div class="col-md-3 sidebar">
      <%-include("layouts/sidebar") %>

    </div>
    <!-- 3 -->
  </div>
</section>

<%-include("layouts/footer") %>
