<%-include("layouts/header") %>

<!-- 6.1 -->
<section class="altinci-bolum banner ">
<div class="row">
     <div class="seffaf">

     </div>
     <img src="/img/recipe-detail-bg.jpg" alt="">
</div>

</section>
<!-- 6.1 -->

<section class="altinci-bolum-iki content container">
  <div class="row">
        <div class="col-md-9 recipes">

             <!-- 6.2 -->
             <div class="recipe-detail">
                  <div class="card">
                  <div class="card-body">
                  <h5 class="card-title fs-1"><%= recipe[0].title %> </h5>

                    <p class="card-text text-muted">
                       <small class="text-muted">
                            <%-include("partial-views/stars",{ rating: rating.length > 0 ? rating[0].rating : 0 })%>
                         (<%= comments.length %> yorum)
                         </small>
                         <small class="float-end"><i class="fas fa-eye"></i> <%= recipe[0].read_score %> kez okundu</small>
                    </p>
                  </div>
                  <img src="/media/recipe/<%=recipe[0].image%>" class="card-img-bottom" alt="...">
                  <small class="bg-muted mt-3 shadow-sm">
                  <div class="row">
                       <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                       <span class="text-muted"><i class=""></i>Kac Kisilik: <br> <%= recipe[0].serves  %> kisi </span>
                       </div>
                       <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                       <span class="text-muted"><i class=""></i> Hazirlama Suresi: <br> <%= recipe[0].prep_time %> dakika</span>
                       </div>
                       <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                       <span class="text-muted"><i class=""></i> Kalori: <br> <%= recipe[0].calories  %> kalori</span>
                       </div>
                       <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                       <button type="button" class="btn btn-success fw-bold"><i class="fas fa-print"></i> Yazdir</button>
                       </div>
                  </div>
                  </small>
                  </div>
                  <p class="mt-3"><%= recipe[0].description  %></p>
             </div>
             <!-- 6.2 -->

             <!-- 7 -->
             <div class="recipe-directions">
                  <div class="row">
                       <div class="container px-4">
                            <div class="row gx-5">
                                 <div class="col-md-4">
                                      <div class="p-3 border bg-light">
                                           <h5>Malzemeler</h5>
                                      <%     for(i=0 ; i<ingredients.length ; i++ )  {  %>
                                      <div class="form-check">
                                           <input class="form-check-input" type="checkbox" value="" id="flexCheck<%=i%>">
                                           <label class="form-check-label" for="flexCheck<%=i%>">
                                                <%=  ingredients[i].ingredient       %>
                                           </label>
                                      </div>
                                      <% } %>

                                      </div>
                                 </div>
                                 <div class="col-md-8">
                                      <div class="p-3 border list-group-item list-group-item-action">

                                           <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1"> Hazirlanisi</h5>
                                           </div>
                                           <%  for(i=0; i<directions.length ; i++){ %>
                                             <ul><li><%= directions[i].direction  %></li></ul>
                                          <% } %>

                                      </div>
                                 </div>
                            </div>
                       </div>
                  </div>
             </div>
             <!-- 7 -->

             <!-- 8 -->
             <div class="alternative-recipes">
                  <div class="line row ">
                       <div class="d-flex align-items-center ">
                            <h3 class="text-muted text-nowrap">Bunları da deneyebilirsiniz</h3>
                            <div class="cizgi text-muted d-flex justify-content-center">
                            </div>
                       </div>
                  </div>
                  <div class="row">
                       <%randomRecipes.forEach( (tarif) => {%>
                         <div class="col-4">
                              <%-include ('partial-views/recipe', {recipe: tarif}) %>
                         </div>
                       <%})%>
                       
                       
                  </div>
             </div>
             <!-- 8 -->

             <!-- 9 -->
             <div class="reviews mt-5">
                  <div class="line row ">
                       <div class="d-flex align-items-center ">
                            <h3 class="text-muted text-nowrap"> Yorumlar (<%=comments.length%>) </h3>
                            <div class="cizgi text-muted d-flex justify-content-between">
                            </div>
                       </div>
                  </div> 
                  

                  <!-- Reviews -->
                  <section class="comments" id="reviews">
                       <% 
                       comments.forEach( (yorum) => { 
                         var d = new Date(yorum.create_date);
                         var datestring = d.getDate()  + "-" + (d.getMonth()+1) + "-" + d.getFullYear();
                            
                         %>
                       <div class="row mt-5">
                            <div class="col-2"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=70" alt=""></div>
                            <div class="col-10">
                                 <div class="comment-by"><strong><%=yorum.name%></strong><span class="date"> <%=datestring%></span></div>
                                 <p><%=yorum.comment%></p>
                                 <div class="rating">
                                      <%-include ('partial-views/stars', {rating: yorum.rating}) %>
                                 </div>
                            </div>
                       </div>
                       <% }); %>

                       

                  </section>

             </div>
             <!-- 9 -->

             <!-- 10 -->
             <div class="add-review mt-5">
                  <div class="line row ">
                       <div class="d-flex align-items-center ">
                            <h3 class="text-muted text-nowrap"> Yorum Ekle</h3>
                            <div class="cizgi text-muted d-flex justify-content-between">
                            </div>
                       </div>
                  </div>

                  <!-- Add Comment Form -->
                  <form id="addReview" class="needs-validaiton" action="/add-comment" method="post" novalidate>
                       <input type="hidden" id="hdnRate" name="rate" value="">
                       <input type="hidden" id="hdnRecipe" name="recipe" value="<%=recipe[0].recipe_id%>">
                       <fieldset>
                            <div class="mb-3">
                                 <label for="name" class="form-label">Ad Soyad*</label>
                                 <input type="text" class="form-control" id="name" name="name" required>
                                 <div class="invalid-feedback">Ad soyad giriniz</div>
                            </div>

                            <div class="mb-3">
                                 <label for="email" class="form-label">Eposta*</label>
                                 <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                                 <div class="invalid-feedback">Eposta adresinizi giriniz</div>
                            </div>

                            <div class="mb-3">
                                 <label>Puan:</label>
                                 <span id="set-rate">
                                      <i class="fas fa-star text-secondary" data-rate="1"></i>
                                      <i class="fas fa-star text-secondary" data-rate="2"></i>
                                      <i class="fas fa-star text-secondary" data-rate="3"></i>
                                      <i class="fas fa-star text-secondary" data-rate="4"></i>
                                      <i class="fas fa-star text-secondary" data-rate="5"></i>
                                 </span>
                            </div>



                            <div class="mb-3">
                                 <label for="comment" class="form-label">Yorum*</label>
                                 <textarea class="form-control" rows="3" required id="comment" name="comment"></textarea>
                                 <div class="invalid-feedback">Yorumunuzu yazınız</div>
                            </div>

                       </fieldset>

                       <button type="submit" class="btn btn-large- btn-success">Yorum Gönder</button>
                  </form>
             </div>
             <!-- 10-->
        </div>


        <div class="col-md-3  sidebar" style="margin-top: 6rem;">
             <!-- BURAYA SIDEBAR GELECEK -->
                <%-include("layouts/sidebar") %>
           </div>
  </div>
</section>









<%-include("layouts/footer") %>
