<div class="card">
     <a href="/tarifler/<%= recipe.recipe_id %>"><img src="/media/recipe/<%= recipe.image %>" class="card-img-top img-fluid " alt="<%= recipe.title %> Nasıl Yapılır ?" ></a>
     <div class="card-body">
       <h4 class="card-text text-muted"><%= recipe.title%></h4>
       <hr>
       <%-include("stars",{rating:recipe.rating })%>
       

       <div class="d-flex justify-content-end">
         <i class="far fa-clock pt-1 text-muted"></i> &nbsp;
         <h5 class="text-muted font-weight-bold"><%= recipe.prep_time%> dk </h5>
       </div>
     </div>
   </div>